.timer {
    margin-top: 130px;
    width: 700px;
    margin-bottom: 400px;
    
    
}
.timer h2 {
    margin-left: 600px;
    background-color: rgb(37, 92, 134);
    border-radius: 5px;
    
}